[Unit]
Description=Android Audio Playback
After=network.target

[Service]
ExecStart=/usr/local/bin/scrcpy --no-video
RestartSec=5
Restart=always
KillSignal=SIGINT
User=sled

[Install]
WantedBy=multi-user.target
