[Unit]
Description=Android Audio Playback
After=network.target

[Service]
ExecStart=/usr/local/bin/scrcpy --no-control --no-video --audio-buffer=80
RestartSec=5
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
